body {
    margin: 0px;
    background-color: #f3d250;
}

main {
    height: 100vh;
    background-color: #f3d250;
}
h2 {
    text-align: center;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: 100%;
}
.checkout {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: absolute;
    top: 10%;
    right: 2%;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-right: 50px;
    border: 1px solid rgb(112, 195, 228);
    border-radius: 5px;
}

.container .section-top {
    background-image: url("https://images.unsplash.com/photo-1550085995-db99f0eb8b1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNob2VzJTIwc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.container .section-bottom {
    background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    text-align: center;
}

.title {
    color: navy;
    font-size: 40px;
}

#logo {
    height: 100px;
    width: 100px;
    margin-left: 4px;
}

.cart {
    height: 25%;
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
}

.link {
    font-weight: bold;
    height: 20px;
    width: 70px;
    background-color: transparent;
    cursor: pointer;
}
.login_btn {
    color: navy;
    font-weight: bolder;
    font-size: large;
}

.product_heading {
    text-align: center;
}

.products_container {
    background-color: #f3d250;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fill, 186px);
    padding: 100px;
}

.products_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    height: 350px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid rgb(112, 195, 228);
}

.product_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
    height: 400px;
    width: 500;
    margin: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid rgb(112, 195, 228);
}

.counter_black {
    color: black;
}
.counter_red {
    color: red;
}
.cart_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
    height: 250px;
    width: auto;
    margin-right: 400px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border: 1px solid rgb(112, 195, 228);
}

.img_cart {
    float: left;
}

.products_card:hover,
.add_cart_btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.product_description {
    padding: 2px 16px;
    align-self: center;
}

.product_description_cart {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.cart_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.add_cart_btn {
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: #90ccf4;
}

.inc_or_dec_cartItems {
    display: flex;
    font-size: large;
    font-weight: bold;
}

.btn_box {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
#product_pic {
    border-radius: 5px 5px 0 0;
    height: 150px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
}

#product_pic_single {
    border-radius: 5px 5px 0 0;
    height: 250px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
}

#navbar_cart {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh;
    font-size: large;
    font-weight: bold;
}

.chat_image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.messages {
    display: flex;
    flex-direction: rows;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    width: 30vw;
}

login-link {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    top: 20px;
    right: 20px;
}

#mainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#homepage-logo {
    height: 10%;
    width: 10%;
}
#navbar-avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

input {
    background-color: transparent;
    height: 30px;
    width: 200px;
    column-gap: 10px;
    border: 0;
    border-bottom: 2px solid #5da2d5;
    color: black;
    font-size: large;
    font-weight: bold;
}

.reg_btn_box {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}

.reg_btn {
    background-color: #ee5757;
    color: #ececec;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(112, 195, 228);
}

.reg_title {
    color: red;
}
::placeholder {
    color: navy;
    font-weight: bold;
    font-size: large;
}
.app_bgc {
    background-color: #90ccf4;
    height: 10vh;
}

#size {
    border: 1px solid rgb(112, 195, 228);
    width: 36px;
    height: 30px;
}
